<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DALandDomain.Model.csdl|res://*/DALandDomain.Model.ssdl|res://*/DALandDomain.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HTEM2RT;initial catalog=vadimRabotaet;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/DALandDomain.Model1.csdl|res://*/DALandDomain.Model1.ssdl|res://*/DALandDomain.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HTEM2RT;initial catalog=vadimRabotaet;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>